
$--white: #fff;
$--yellow: #FDCC0A;
$--black-gray: #232323;
$--black: #1B1B1B;


@mixin title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 10px;
    @media screen and (max-width:1023px) {
        flex-direction: column;
    }
    @media screen and (max-width:767px) {
        margin-bottom: 40px;
    }
    @media screen and (max-width:367px) {
        margin-bottom: 20px;
    }
    & h2{
        color: $--black;
    }
    & p{
        max-width: 410px;
        @media screen and (max-width:1023px) {
            max-width: 100%;
            text-align: center;
        }
        @media screen and (max-width:367px) {
            font-size: 14;
        }
    }
}
html{
    scroll-behavior: smooth;
  }

body{
    
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main{
    margin-top: 120px;
    @media screen and (max-width:1023px) {
        margin-top: 80px;
    }
}

  .container{
      max-width: 1788px;
      width: 100%;
      margin: 0 auto;
      padding: 0 14px;
  }
h1{
    font-family: 'Oswald';
    color: $--white;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        font-size: 32px;
    }
}
h2{
    font-family: 'Oswald';
    color: $--white;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        font-size: 28px;
    }
}
h3{
    font-family: 'Oswald';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media screen and (max-width:767px) {
        font-size: 24px;
    }
}

h1 span,
h2 span,
h3 span{
    font: inherit;
    color: $--yellow;
}
p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media screen and (max-width:367px) {
        font-size: 14px;
    }
}
a{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28.5px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 320px;
    transition: .3s ease;
    background-color: $--yellow;
    color: $--black;
    border: 1px solid transparent;
    clip-path: polygon(7% 0, 97% 0, 100% 100%, 0% 100%);
}
.btn:hover{
    background-color: #ffd632;
    
  
}

.tabs{
    position: relative;
    background-color: transparent;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28.5px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 320px;
    transition: .5s ease;
    color: $--black;
    
    &:hover{
        color: $--white;
        &::after{
            background: url('../images/black-border.svg') center center / contain no-repeat;
           }
    }
   &::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    background: url('../images/border.svg') center center / contain no-repeat;
   }
}
.tabs.active{
    color: $--white;
    &:hover{
        color: $--black;
        &::after{
            background: url('../images/border.svg') center center / contain no-repeat;
           }
    }
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left:0;
        z-index: -1;
        background: url('../images/black-border.svg') center center / contain no-repeat;
       }
}


.mt-m{
    margin-top: 160px;

    @media screen and (max-width:767px) {
        margin-top: 60px;
    }
}
.mb-m{
    margin-bottom: 160px;
    @media screen and (max-width:767px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width:367px) {
        margin-bottom: 30px;
    }
}

