
$--white: #fff;
$--yellow: #FDCC0A;
$--black-gray: #232323;
$--black: #1B1B1B;


@mixin accordTitle{
                    margin-right: auto;
                    font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-size: 32px;
                @media screen and (max-width:767px) {
                  font-size: 24px;
                }
                @media screen and (max-width:480px) {
                  font-size: 16px;
                }
}
html{
    scroll-behavior: smooth;
  }

body{
    
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main{
    margin-top: 120px;
}

  .container{
      max-width: 1780px;
      width: 100%;
      margin: 0 auto;
      padding: 0 10px;
  }
h1{
    font-family: 'Oswald';
    color: $--white;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        font-size: 32px;
    }
}
h2{
    font-family: 'Oswald';
    color: $--white;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        font-size: 28px;
    }
}
h3{
    font-family: 'Oswald';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media screen and (max-width:767px) {
        font-size: 20px;
    }
}

h1 span,
h2 span,
h3 span{
    font: inherit;
    color: $--yellow;
}
p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


a{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28.5px;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 320px;
    transition: .3s ease;
    background-color: $--yellow;
    color: $--black;
    border: 1px solid transparent;
}
.btn:hover{
    background-color: transparent;
    color: $--white;
    border-color: #FDCC0A;
}




.mt-m{
    margin-top: 160px;

    @media screen and (max-width:767px) {
        margin-top: 60px;
    }
}
.mb-m{
    margin-bottom: 160px;
    @media screen and (max-width:767px) {
        margin-bottom: 60px;
    }
    @media screen and (max-width:367px) {
        margin-bottom: 30px;
    }
}
